script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='/js/main.js')
footer.footer__background
    .footer__contenedor
        .footer__contenedor--flexbox
            p Sigueme en las redes
                nav
                    a(href="#")
                       img(src="/RedesSociales/facebook.png")
                    a(href="#")
                        img(src="/RedesSociales/instagram.png")                   
                    
                    a(href="#")
                     img(src="/RedesSociales/github.png")                        
                    a(href="#")
                        img(src="/RedesSociales/linkedin.png") 
                        
        .footer__contenedor--flexbox
            p Email: isgam96@gmail.com.com
            p Télefono: 787-123-4567

        .footer__menu.footer__contenedor--flexbox
            p MENÚ
            nav
                a(href="#acerca")
                    p Acerca De Mí
                    div
                a(href="#habilidades")
                    p Habilidades
                    div 
                a(href="#proyectos")
                    p Proyectos
                    div 
                a(href="#contacto")
                    p Contacto
                    div 
