header
    .contenedor.contenido-header
        .barra
            .navegacion.fixed
                nav
                    a(href='#acerca') Acerca de
                    a(href='#proyectos') Proyectos
                    a(href='#contacto') Contacto