doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        link(rel="stylesheet", href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
        link(rel="stylesheet", href='css/normalize.css')
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")       
        
        link(rel="stylesheet", href='css/styles.css')
        link(rel="stylesheet", href="css/skills.css")
        <script src="https://kit.fontawesome.com/1690de6552.js" crossorigin="anonymous"></script>
        //- <script>
        //-     document.addEventListener('click', x=>0);
        //- </script>
        
        title #{pagina}
    body(itemIndex=0 onclick)
        //- include includes/header
        block contenido
        include includes/footer